html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: white;
	padding: 0;
	margin: 0;
    font-family: "Open Sans", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#sidebar {
    height: 100%;
    background: #222222;
    width: 25%;
}

#main {
    height: 100%;
    width: 75%;
    background: #EFEFEF;
}

#item-search input[type="search"] {
    width: 100%;
    font: inherit;
    background-color: rgba(0, 0, 0, 0.25);
    color: #DDD;
    border: 0;
    border-bottom: 1px solid #636363;
    padding: 12px 15px;
    outline: none;
}

#item-search input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

#item-search input[type="search"]:placeholder {
    transition: color .5s;
}

#item-search input[type="search"]:focus:placeholder {
    color: #DDD;
}

.left {
	float: left;
}

.right {
	float: right;
}
